.jumbotron {
    /* Background */
    background-attachment: fixed;
    background-image: url("illlini.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
    

    /* Fonts */
    font-family: 'Sedgwick Ave Display', cursive;
    color: orange;
    text-shadow: 1px 1px 1px black;
    line-height: 2;
    
      }
.display-4 {
    padding-top: 30px;
    text-align: center;
}

.navbar {
    background-color: navy;
}

body {
    background-color: navy;
}

.table {
    margin-left: 100px;
    margin-right: 100px;
    background-color: orange;
    color: blue;
}


.navbar {
    color: white;
}
h1 {
    color: orange;
    margin-left: 50px;
}